{% extends 'entrance/entrance_base.html' %}

{% block content %}
    <form class="entrance-form" method='POST'>
        <div class="form-input-container">
            <h2>Create an MealO account.</h2>
            {% csrf_token %}
            <input type="text" placeholder="username" name="username" required>
            <input type="email" placeholder="email" name="email" required>
            <input type="password" placeholder="password" name="password">
            <input type="password" placeholder="confirm password" name="confirm_password">
            <br>
            <button type="submit">Signup</button>
        </div>
    </form>
    <div style="text-align: center;">
    <br>
    <span>Already have an account? <a href="{% url 'login' %}">Login.</a></span>
    </div>
{% endblock %}